@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	background-color: #eee;
	box-sizing: border-box;
	/* white-space: nowrap; */ /* 화면 줄바꿈 방지 */
}

header {
	position: relative;
	margin-top: 20px;
	/* width: 100%;
	height: 100px; */
}


/* #header_box {
	display: flex;
	height: 110px;
	line-height: 110px;
} */


.img {
	width: 500px;
	height: 150px;
	margin-top: 20px;
	position: absolute;
	top: 0;
	left: 37%;
}



#sign {
	position: absolute;
	color: black;
	font-size: 17px;
	font-weight: bold;
	margin-top: 25px;
}

#market {
	color: black;
	font-size: 17px;
	font-weight: bold;
	margin-top: 25px;
}

#market a {
	text-decoration: none;
	color: black;
}

#item {
	position: absolute;
	width: 300px;
	height: 250px;
	display: none;
	background-color: #bbb;
	z-index: 1;
}

#item a {
	text-decoration: none;
}

.log {
	width: 250px;
	height: 50px;
	margin-bottom: 20px;
	font-size: 15px;
	background-color: green;
	border: 1px soild;
	border-radius: 10px;
	color: white;
	cursor: pointer;
	line-height: 50px;
	margin-top: 60px;
	margin-left: 25px;
}

.join {
	width: 250px;
	height: 50px;
	line-height: 50px;
	margin-bottom: 20px;
	font-size: 15px;
	background-color: green;
	border: 1px soild;
	border-radius: 10px;
	color: white;
	cursor: pointer;
	margin-left: 25px;
}


.cancel {
	width: 70px;
	height: 30px;
	border-radius: 10px;
}
