@charset "UTF-8";

/* 전체 */
/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #eee;
} */


/* 동영상 */
body {
  padding: 0px;
  height: auto;
  min-height: 100vh;
}

section {
	margin: 0 auto;
	width: 100%;
	height: auto;
	padding: 15%;
}

.bg {
  width: 100%;
  height: 500px;
  overflow: hidden;
  margin: 0px auto;
  position: relative;
  margin-top: 150px;
}

video {
  width: 100%;
  margin-top: 80px;
  position: absolute;
}

/* .text {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
} */

/* .text p {
  text-align: center;
  font-size: 48px;
  color: #ffffff;
} */


/*------------------*/
/* Layout (No Edit) */
/*------------------*/
@media(max-width:664px) {
  .bg {
    height: auto;
  }
  video {
    height: 400px;
  }
  .text p {
    font-size: 24px;
  }
}

.buy {
	text-align: center;
	margin-top: 25px;
	color:rgb(27, 180, 53);
}


/* 보충제 종류 5가지 */
.kind {
	display: flex;
	justify-content: space-between;
	margin-top: 130px;
}


.kind a {
	text-decoration: none;
	background-color: green;
	font-size: 25px;
	font-weight: bold;
	color: white;
}


.kind_1 {
	width: 250px;
	border: 1px solid gray;
	height: 120px;
	line-height: 120px;
	font-weight: bold;
	text-align: center;
	background-color: green;
	margin-left: 10px;
}

.kind_2 {
	width: 250px;
	border: 1px solid gray;
	height: 120px;
	line-height: 120px;
	font-weight: bold;
	text-align: center;
	background-color: green;
}

.kind_3 {
	width: 250px;
	border: 1px solid gray;
	height: 120px;
	line-height: 120px;
	font-weight: bold;
	text-align: center;
	background-color: green;
}

.kind_4 {
	width: 250px;
	border: 1px solid gray;
	height: 120px;
	line-height: 120px;
	font-weight: bold;
	text-align: center;
	background-color: green;
}

.kind_5 {
	width: 250px;
	border: 1px solid gray;
	height: 120px;
	line-height: 120px;
	font-weight: bold;
	text-align: center;
	background-color: green;
	margin-right: 10px;
}

.total_tain {
	position: relative;
	display: flex;
	justify-content: space-between;
}

.tain_kind_1 {
	position: absolute;
	width: 250px;
	height: 300px;
	display: none;
	margin-left: 10px;
}
.tain_kind_2 {
	position: absolute;
	width: 250px;
	height: 300px;
	display: none;
}
.tain_kind_3 {
	position: absolute;
	width: 250px;
	height: 300px;
	display: none;
}
.tain_kind_4 {
	position: absolute;
	width: 250px;
	height: 300px;
	display: none;
}
.tain_kind_5 {
	position: absolute;
	width: 250px;
	height: 300px;
	display: none;
	margin-right: 10px;
}





/* 운동 유혹말 */
.content {
	display: flex;
	justify-content: space-between;
	margin-top: 120px;
}

.cap1 {
	width: 400px;
	height: 50px;
	line-height: 50px;
	border: 1px solid gray;
	border-color: darkgreen;
	color: darkgreen;
	box-shadow: 3px 3px;
	font-weight: bold;
	text-align: center;
	margin-left: 30px;
}

.cap2 {
	width: 400px;
	height: 50px;
	line-height: 50px;
	border: 1px solid gray;
	border-color: darkgreen;
	color: darkgreen;
	box-shadow: 3px 3px;
	font-weight: bold;
	text-align: center;
}

.cap3 {
	width: 400px;
	height: 50px;
	line-height: 50px;
	border: 1px solid gray;
	border-color: darkgreen;
	color: darkgreen;
	box-shadow: 3px 3px;
	font-weight: bold;
	text-align: center;
	margin-right: 30px;
}






/* 이 달의 프로틴 */

.this p {
	margin-top: 200px;
	font-size: 30px;
	font-weight: bold;
	color: green;
	text-align: center;
}


.this_tain {
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
}


.this_tain img {
	margin-top: 50px;
	width: 300px;
	height: 300px;
	margin-left: 20px;
	margin-right: 20px;
}

.best_tain_1 p {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin-top: 15px;
}

.best_tain_2 p {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin-top: 15px;
}

.best_tain_3 p {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin-top: 15px;
}

.best_tain_4 p {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin-top: 15px;
}

/* .impact {
	display: none;
}

.brownie {
	display: none;
}

.alphaman {
	display: none;
}

.golden {
	display: none;
} */

#my_modal {
    display: none;
    width: 300px;
    padding: 20px 60px;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 3px;
}

#my_modal .modal_close_btn {
    position: absolute;
    top: 10px;
    right: 10px;
}