@charset "UTF-8";

/* 동영상 */
body {
  padding: 0px;
  height: auto;
  min-height: 100vh;
  position: relative;
}

section {
	margin: 0 auto;
	width: 100%;
	height: auto;
}

.bg {
  width: 100%;
  height: 500px;
  overflow: hidden;
  margin: 0px auto;
  position: relative;
  margin-top: 150px;
}

video {
  width: 100%;
  margin-top: 80px;
  position: absolute;
}


@media(max-width:664px) {
  .bg {
    height: auto;
  }
  video {
    height: 400px;
  }
  .text p {
    font-size: 24px;
  }
}

.buy {
	text-align: center;
	margin-top: 25px;
	color:rgb(27, 180, 53);
}


/* 보충제 종류 5가지 */
.kind {
	display: flex;
	justify-content: space-between;
	margin-top: 130px;
}


.kind a {
	text-decoration: none;
	background-color: green;
	font-size: 25px;
	font-weight: bold;
	color: white;
}


.kind_1 {
	width: 250px;
	border: 1px solid gray;
	height: 120px;
	line-height: 120px;
	font-weight: bold;
	text-align: center;
	background-color: green;
	margin-left: 10px;
}

.kind_2 {
	width: 250px;
	border: 1px solid gray;
	height: 120px;
	line-height: 120px;
	font-weight: bold;
	text-align: center;
	background-color: green;
}

.kind_3 {
	width: 250px;
	border: 1px solid gray;
	height: 120px;
	line-height: 120px;
	font-weight: bold;
	text-align: center;
	background-color: green;
}

.kind_4 {
	width: 250px;
	border: 1px solid gray;
	height: 120px;
	line-height: 120px;
	font-weight: bold;
	text-align: center;
	background-color: green;
}

.kind_5 {
	width: 250px;
	border: 1px solid gray;
	height: 120px;
	line-height: 120px;
	font-weight: bold;
	text-align: center;
	background-color: green;
	margin-right: 10px;
}

.total_tain {
	position: relative;
	display: flex;
	justify-content: space-between;
}

.tain_kind_1 {
	position: absolute;
	width: 250px;
	height: 300px;
	display: none;
	margin-left: 10px;
}
.tain_kind_2 {
	position: absolute;
	width: 250px;
	height: 300px;
	display: none;
}
.tain_kind_3 {
	position: absolute;
	width: 250px;
	height: 300px;
	display: none;
}
.tain_kind_4 {
	position: absolute;
	width: 250px;
	height: 300px;
	display: none;
}
.tain_kind_5 {
	position: absolute;
	width: 250px;
	height: 300px;
	display: none;
	margin-right: 10px;
}





/* 운동 유혹말 */
.content {
	display: flex;
	justify-content: space-between;
	margin-top: 120px;
}

.cap1 {
	width: 400px;
	height: 50px;
	line-height: 50px;
	border: 1px solid gray;
	border-color: darkgreen;
	color: darkgreen;
	box-shadow: 3px 3px;
	font-weight: bold;
	text-align: center;
	margin-left: 30px;
}

.cap2 {
	width: 400px;
	height: 50px;
	line-height: 50px;
	border: 1px solid gray;
	border-color: darkgreen;
	color: darkgreen;
	box-shadow: 3px 3px;
	font-weight: bold;
	text-align: center;
}

.cap3 {
	width: 400px;
	height: 50px;
	line-height: 50px;
	border: 1px solid gray;
	border-color: darkgreen;
	color: darkgreen;
	box-shadow: 3px 3px;
	font-weight: bold;
	text-align: center;
	margin-right: 30px;
}






/* 이 달의 프로틴 */

.this p {
	margin-top: 200px;
	font-size: 30px;
	font-weight: bold;
	color: green;
	text-align: center;
}


.this_tain {
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
}


.this_tain img {
	margin-top: 50px;
	width: 300px;
	height: 300px;
	margin-left: 20px;
	margin-right: 20px;
}

.best_tain_1 p {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin-top: 15px;
}

.best_tain_2 p {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin-top: 15px;
}

.best_tain_3 p {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin-top: 15px;
}

.best_tain_4 p {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin-top: 15px;
}


/* 모달창 */

.modal_wrap {
   	display: none;
    width: 800px;
    height: 500px;
    border: 2px solid black;
    position: absolute;
    bottom: 30%;
    left: 45%;
    margin: -250px 0 0 -250px;
    background: #eee;
    z-index: 1001;
}

.modal_background {
    display: none;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0,0, 0.5);
    z-index: 1000;
    position: absolute;
    bottom: 0;
    left: 0;
}

.modal_close {
    width: 26px;
    height: 26px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.modal_wrap .text {
	width: 500px;
	height: 300px;
}



.modal_close .closeImg {
    width: 50px;
    height: 50px;
}